/**********
General
**********/
body{
    font-family: 'Montserrat', sans-serif; 
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1{
  /*****font-family: 'Montserrat', sans-serif; take out here and add body tag above*****/
    font-size: 1.75em;
    font-weight: 400;
}

h2{
   font:-size: .75em;
    font-weight: 100;
    
}

/************
Header
************/
header {
    float: left;
    width: 100%;
    text-align: center;
}



/************
Navigation
************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;

}

nav ul {

    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {

    display: inline-block;
}



/*************
Footer
**************/

footer {

    text-align: center;
}

/*************
Page Portfolio
**************/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;

}
#gallery li {
    width:45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
}

#gallery li p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    
}

/*************
About
**************/







/*************
Contact
**************/

.contact-info{
    list-style:none;
    padding: 0;
    margin: 0;
    fint-size: 0.9em;

}

.contact-info a{
    
    display:block;
    background-repeat: no repeat;
    min-height: 20px;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.phone a {
    
    background-image: url('../img/phone.png');
}
.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
}

/***********
colors
***********/

body{
    background-color: #fff;
    color: #999;
}

header{
   background: #6ab47b;
    border-color: :#599a68;
    
}


/* background on mobile */ 
nav{
    background:#599a68
}

/*logo color*/
h1,h2 {
    color: #fff;
}

/* links*/
a {
    color: #6AB47B;
}

nav a, nav a:visited {
    color: #fff;
}

/* selected nav links*/
nav a.selected, nav a:hover {
    color: #32673f;
}
