// Extra small devices (less than 576px)
@media (max-width: 575.98px) {
 /***********
TWO COLUMN LAYOUT
************/
    #primary {
        width: 50%;
        float: left;
    }
    
    #seconday {
        width: 40%;
        float: right;
    }
    
    
/***********
PAGE: PORTFOLIO
************/
    
    #gallery li {
        width: 28.3333%;
    }
    
    #gallery li:nth-child(4n) {
        clear: left;
    }
    
    
}

// Medium devices (768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    
    nav {
        background: none;
        float: center;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: center;
        width: 45%;
    }
    
    #logo {
        float: left;
        margin-left: 5%;
        margin-right: 0%
        text-align: center;
        width: 100%;
    }
    
// Large devices (992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    
    nav {
        background: none;
        float: center;
        font-size: 1.75em;
        margin-right: 8%;
        text-align: center;
        width: 48%;
    }
    
    #logo {
        float: left;
        margin-left: 8%;
        margin-right: 0%
        text-align: center;
        width: 100%;
    
    }
    
    
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: .75em;
        margin-bottom: 20px;
    }
    
    header {
        border-bottom: 5px solid black;
        margin-bottom: 40px;
    }
   
   footer {
   position: fixed;
   margin-top: 15px;
       padding-top: 20px;
    left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: white;
   text-align: center;
    }
    
